body {
    background-color: bisque;
    width: 95%; 
    padding: 1.5rem; 
    margin-left: auto; 
    margin-right: auto; 
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: solid 0.625rem rgb(143, 19, 19); 
}

h1, h2{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.center {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%; 
    border: solid 0.313rem darkred; 
    border-radius: 0.625rem; 
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.3); 
}

.horizontal-list {
    display: flex; 
    justify-content: space-around; 
    padding: 0;
    list-style-type: none;
    margin: 0.625rem 0; 
}

.horizontal-list li {
    margin: 0 0.625rem; 
    padding: 0;
}

hr {
    max-width: 100%;
    margin-left: 1em;
    border-color: brown;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

ul {
    padding: 1em;
}

ul li img {
    width: 5em;
    height: auto;
    margin-right: 2em;
    vertical-align: middle;
    border-radius: 10em;
}

ul li {
    margin: 0.625rem 1em; 
    display: flex;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 1.25rem; 
    color: darkred;
}

h2 {
    font-size: 1.8em;
    color: darkgreen;
}

p {
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.5em;
    color: #333;
    margin-bottom: 0.2em;
    padding: 1em;
}

ol li {
    margin: 0.625rem 0; 
    padding-left: 1.25rem; 
    text-indent: -1.25rem; 
}

ol li:before {
    font-weight: bold;
}
