*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 10px
}

nav li{
    list-style:none;
    border-bottom: solid 1px black;
    border top: solid 1px black;
    width: 15 px;
}

nav ul{
    padding: 0;
    list-style-type: none;
}

nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: solid 1px #666;
  background-color:aquamarine;
    display: block;
    padding: 10px;
}

nav li ul{
    display: none;

}

nav .dropdown{
    background-color: cadetblue;
    color: white;

}

nav li a:hover{
    background-color: darkgreen;
}

nav li:hover ul{
    display:block;
}

.dropdown a{
    background-color: rgb(11, 234, 11);
    color: black;
}

.dropdown a:hover{
    background-color: ;
}

.topList{
    display: flex;
}

@media (min-width:576px){
    .topList{
        display: flex;
    }

    nav li{
    border: solid 1px black;
    style
}

    nav li a{
        padding: 10px 20px
    }

} 



